@model OOP_Project_Kovba.ViewModels.TripDetailsViewModel

@{
    ViewData["Title"] = "Деталі поїздки";
}

@{
    Layout = ViewData["Layout"] as string ?? "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/trip-details.css">
</head>
<body>
    <main class="trip-container">
        <div class="trip-details">
            <h2>Деталі поїздки</h2>
            <p><strong>📍 Маршрут:</strong> @Model.FromCity → @Model.ToCity</p>
            <p><strong>📍 Відправлення:</strong> @Model.FromStreetAndHouse</p>
            <p><strong>📍 Прибуття:</strong> @Model.ToStreetAndHouse</p>
            @if (Model.DepartureTime.Date == Model.ArrivalTime.Date)
            {
                <p><strong>📅 Дата:</strong> @Model.DepartureTime.ToString("dd.MM.yyyy")</p>
            }
            else
            {
                <p><strong>📅 Дати:</strong> @Model.DepartureTime.ToString("dd.MM.yyyy") → @Model.ArrivalTime.ToString("dd.MM.yyyy")</p>
            }
            <p><strong>🧑‍✈️ Водій:</strong> @Model.DriverName</p>
            <p><strong>🧑‍✈️ Пошта водія:</strong> @Model.DriverEmail</p>
            <p><strong>⏰ Час виїзду:</strong> @Model.DepartureTime.ToString("HH:mm")</p>
            <p><strong>⏳ Час прибуття:</strong> @Model.ArrivalTime.ToString("HH:mm")</p>
            <p><strong>🚘 Автомобіль:</strong> @Model.CarModel</p>
            <p><strong>💬 Коментар:</strong> @Model.Comment</p>
            <p><strong>💺 Місць залишилось: </strong>@Model.MaxPassengers</p>
            <p><strong>💰 Ціна:</strong> @Model.Price</p>
            <form method="post" asp-action="CreateBooking" asp-controller="Booking" class="booking-form">
                <input type="hidden" name="TripId" value="@Model.Id" />
                <div class="form-group">
                <label> Введіть кількість місць </label>
                <select name="SeatsBooked" id="SeatsBooked" class="form-select">
                    @for(int i = 1; i <= Model.MaxPassengers; i++)
                    {
                        <option value="@i">@i</option>
                    }
                 </select>
                </div>

                <button type ="submit" class="book-button"> Забронювати місце</button>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        <h2>@TempData["SuccessMessage"]</h2>
                    </div>
                }
            </form>
        </div>
    </main>    
</body>
</html>
